.Back-Button {
    position: absolute;
    top: 50px;
    right: 50px;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
}

.Repo-List {
    width: 100px;
}

.New-Repo-Button {

}

.git-select {
    display: flex;
    flex-direction: row;
}

.git-select input {
    margin-right: 5px;
}

.git-select label {
    margin-right: 10px;
}

.new-repo-form {
    max-width: 200px;
    margin: 10px 0 0 10px;
}

.new-repo-form div {
    margin: 5px 0 5px 0;
}

.new-repo-form input[type=text] {
    width: 100%;
}